<%- include("partials/header.ejs") %>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Your story have been post</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style="margin-bottom: 2rem;">
        <a href="/story"><button type="button" class="btn btn-lg px-4" style="background-color: #9D91FF; color: #fefefa; "onmouseover="this.style.backgroundColor='#47416F';" onmouseout="this.style.backgroundColor='#9D91FF';" >See the Post</button></a> 
      </div>
      <a href="/post" class="another-story-button">Post Another Story</a>
    </div>
</div>

<%- include("partials/footer.ejs") %>